<body>
    <div class="main_content_about" style="display: flex; align-items: center; justify-content: space-evenly;">
        <div class="info_text">
            <div class="quote_about">
                <h1 style="text-align: center; font-size: 36px;"><i>Наша идея</i></h1>
                <p style="border-left: 1px solid black; width: 700px; height:max-content; align-items: center; padding: 10px; font-size: 28px;">"Всё началось с одной поездки в Италию, где мы поняли, что кофе — это не просто напиток, а искусство
                    создавать моменты наслаждения. Так родилась идея Urban Coffee".</p>
            </div>
            <div class="text_about" style="font-size: 28px; width: 700px;">
                <p><strong>Качество</strong>: Мы сотрудничаем напрямую с фермерами, чтобы контролировать весь путь зерна — от ростка до
                    вашей чашки.</p>

                <p><strong>Знания</strong>: Наши баристы проходят регулярное обучение. Они не просто готовят кофе, а с радостью помогут
                    вам выбрать напиток по вкусу.</p>

                <p> <strong>Сообщество</strong>: Мы любим наших гостей. Именно для вас мы устраиваем вечера живой музыки, кофейные
                    дегустации и воркшопы по латте-арту.</p>
            </div>
        </div>
        <div class="img_about">
            <img src="/src/img/about/about.svg" alt="">
        </div>
    </div>
</body>