<div class="content_contact"
    style="display: flex;justify-content: space-evenly; align-items: center; margin: 50px 0px 250px 0px;">
    <div class="adress">
        <p style="font-size: 28px;">ТДК «Смоленский пассаж», 4 этаж,<br>
            Смоленская пл., 3, Москва<br>
             <br>
            Режим работы:<br>
            понедельник - воскресенье<br>
            с 10:00 до 22:00<br>
             <br>
            тел. 8 (985) 840-44-77<br>
        </p>
    </div>
    <div class="map" style="border-radius: 25px; border: 2px solid black;">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17962.75365859942!2d37.60852240898738!3d55.75252261796932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5962e69605%3A0xa4cf168ae7cb3ae5!2z0KXRgNCw0Lwg0JLQsNGB0LjQu9C40Y8g0JHQu9Cw0LbQtdC90L3QvtCz0L4!5e0!3m2!1sru!2sru!4v1759398055678!5m2!1sru!2sru"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>