<link rel="stylesheet" href="/src/css/main.css" />
<body>
  <div class="quote">
    <img src="/src/img/main_page/quote.svg" alt="" />
  </div>
  <div class="block_">
    <h1 style="text-align: center">Кофе и завтрак - лучшее начало дня</h1>
    <div class="block_slide">
      <div class="slide">
        <img src="/src/img/main_page/locate.svg" alt="" />
        <h2>Уютная атмосфера</h2>
        <p>атмосфера, в которой хочется отдохнуть</p>
      </div>
      <div class="slide">
        <img src="/src/img/main_page/eat.svg" alt="" />
        <h2>Вкусный завтра</h2>
        <p>Завтрак который хочется не заканчивать</p>
      </div>
      <div class="slide">
        <img src="/src/img/main_page/coffe.svg" alt="" />
        <h2>Прекрасно сделанный кофе</h2>
        <p>Кофе, который берешь из раза в раз</p>
      </div>
    </div>
  </div>
</body>
