.quote{
    text-align: center;

}
.block_ {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
  }
.slide{
    text-align: center;
    justify-content: center;
    
}
.block_slide{
    display: flex;
    justify-content: space-between;
}