.quote{
    text-align: center;

}
.block_{
    margin-top: 80px;
    width: 1260px;    
}
.slide{
    text-align: center;
    justify-content: center;
    
}
.block_slide{
    display: flex;
    justify-content: space-between;
}